:root {
    --text-color: #585858;
    --title-color: #2c2c2c;
    --accent-color: #004AF2;
    --white-color: #fff;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Section */
.section {
    padding: 60px 0;
}

.section--last {
    margin-bottom: 60px;
}

.section__title {
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    font-weight: 900;
    font-size: 45px;
    color: var(--title-color);
}

.section--map {
    background: url("../images/map.svg") no-repeat left 30px top 120px;
}

.section__title span {
    color: var(--accent-color);
}

.section--grey {
    background-color: #F9F9F9;
}

/* Header */
.header {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.header--dark {
    background-color: rgba(0, 0, 0, .9);
}

.header__inner {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 25px;
}

/* Nav */
.nav {
    display: flex;
    height: 100%;
    font-size: 16px;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: var(--white-color);
}

.nav__link:not(.active):hover {
    text-decoration: underline;
}

.nav__link.active {
    background-color: var(--accent-color);
}

/* Burger */
.burger {
    padding: 0;
    display: none;
    border: none;
    background: none;
}

/* Intro */
.intro {
    background: #000 url("../images/BG.jpg") no-repeat center / cover;
    margin-bottom: 30px;
}

.intro--blog {
    height: 350px;
    background: #000 url(../images/Blog_bg.jpg) no-repeat center / cover;
    margin-bottom: 30px;
}

.intro--text {
    height: 350px;
    background: #000 url(../images/text_bg.jpg) no-repeat center / cover;
    margin-bottom: 30px;
}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.intro__text {
    margin-bottom: 45px;
    color: var(--white-color);
    text-align: right;
}

.intro__title {
    position: relative;
    font-size: 110px;
    font-weight: 700;
    line-height: 0.9;
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.intro__title-amp {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 170px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.2);
    user-select: none;
}

/* Request-form */
.request-form {
    width: 100%;
    max-width: 400px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form--right {
    margin-left: auto;
}

.request-form__header {
    padding: 20px 30px;
    background-color: #033fc9;
}

.request-form__title {
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
}

.request-form__text {
    line-height: 1.4;
}

.request-form__content {
    padding: 30px;
}

/* Form */
.form__group {
    margin-bottom: 25px;
}

.input {
    width: 100%;
    padding-bottom: 12px;
    padding-left: 45px;
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    transition: border-color .2s linear;
}

.input--dark {
    color: var(--text-color);
    border-bottom: 1px solid #E8E8E8;
}

.input::placeholder {
    color: rgba(255, 255, 255, .5);
}

.input--dark::placeholder {
    color: rgba(0, 0, 0, .4);
}

.input:focus {
    color: var(--white-color);
    outline: none;
    border-bottom-color: var(--white-color);
}

.input--dark:focus {
    color: var(--text-color);
    border-bottom-color: rgba(0, 0, 0, .5);
}

.input--user {
    background: url("../images/person.svg") left 15px top 3px no-repeat;
}

.input--tel {
    background: url("../images/call.svg") left 15px top 3px no-repeat;
}

.input--email {
    background: url("../images/mail.svg") left 15px top 5px no-repeat;
}

.input--dark.input--user {
    background-image: url(../images/person_dark.svg);
}

.input--dark.input--tel {
    background-image: url(../images/call_dark.svg);
}

.input--dark.input--email {
    background-image: url(../images/mail_dark.svg);
}

/* Btn */
.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;
    border: none;
    border-radius: 5px;
    line-height: 1.1;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--orange {
    background: linear-gradient(90deg, rgba(255, 144, 62, 1), rgba(255, 44, 44, 1) 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn--orange:before {
    content: "";
    top: 0;
    background: linear-gradient(270deg, rgba(255, 144, 62, 1), rgba(255, 44, 44, 1) 100%);
    z-index: -1;
    transition: opacity .2s linear;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn--orange:hover::before {
    opacity: 1;
}

.btn--center {
    margin: 0 auto;
    display: block;
}

.btn--shadow {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
    background-color: var(--white-color);
    border-radius: 5px;
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
    position: relative;
}

.services__title-main {
    font-size: 90px;
    font-weight: 900;
    font-family: Lato;
    color: rgba(44, 44, 44, .05);
    line-height: 1;
    position: absolute;
    right: 20px;
    bottom: 5px;
    user-select: none;
}

.services__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px;
    margin-bottom: 30px;
}

.services__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    color: #2c2c2c;
    font-family: "Lato", sans-serif;
}

.services__text {
    margin-bottom: 20px;
    color: var(--text-color);
    line-height: 1.4;
}

.servicse__link {
    margin-top: auto;
    color: var(--accent-color);
    position: relative;
    transition: color .1s linear;
}

.servicse__link:hover {
    color: #FF3E2F;
}

.servicse__link:before {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: .1s linear;
    pointer-events: none;
}

.servicse__link:hover:before {
    width: 100%;
    background-color: #FF3E2F;
}

/* Clients */
.clients {
    display: flex;
    margin: 60px 0 80px;
}

.clients__logo {
    width: 60%;
}

.clients__reviews {
    width: 40%
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__item {
    margin-right: 40px;
    margin-bottom: 40px;
}

.clients__heart {
    margin-left: 40px;
    display: inline-block;
    font-size: 18px;
    color: #464646;
    position: relative;
}

.clients__heart:after {
    content: "";
    width: 49px;
    height: 48px;
    background: url("../images/heart.svg");
    position: absolute;
    top: -5px;
    left: 20px;
}

/* Reviews */
.reviews {
    position: relative;
}

.reviews:after {
    content: "";
    width: 91px;
    height: 124px;
    background: url("../images/lines.svg");
    position: absolute;
    top: -10px;
    left: 5px;
    z-index: -1;
}

.reviews__header {
    display: flex;
    margin-bottom: 30px;
    font-family: 'lato', sans-serif;
}

.reviews__header-avatar {
    border: 2px solid var(--white-color);
    border-radius: 50px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.reviews__header-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews__header-name {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 900;
}

.reviews__header-position {
    color: var(--title-color);
    font-size: 16px;
}

.reviews__content {
    font-family: 'lato', sans-serif;
}

.reviews__content p {
    margin-bottom: 20px;
}

.reviews__content p:first-child {
    text-indent: 20px;
}

/* Benefits */
.benefits {
    display: flex;
}

.benefits_col {
    width: 50%;
}

.benefits__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.benefits__list {
    width: 100%;
    max-width: 370px;
    padding-left: 50px;
    background-image: linear-gradient(to bottom, var(--white-color) 40%, #a5a5a5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: left 12px top;
    position: relative;
}

.benefits__list:before {
    content: "";
    display: block;
    width: 26px;
    height: 36px;
    background: url(../images/Grey.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.benefits__list:after {
    content: "";
    display: block;
    width: 26px;
    height: 36px;
    background: url(../images/Green.svg);
    position: absolute;
    bottom: 0;
    left: 0;
}

.benefits__item:not(:last-child) {
    margin-bottom: 35px;
}

.benefits__title {
    margin-bottom: 12px;
    line-height: 1.2;
    font-family: 'lato', sans-serif;
    font-size: 21px;
    font-weight: 900;
    color: var(--title-color);
}

/* Team */
.team {
    display: flex;
    justify-content: space-between;
}

.team__item {
    max-width: 30%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.team__item a {
    padding-left: 25px;
    font-size: 14px;
    color: var(--text-color);
    line-height: 1;
}

.team__item a:hover {
    text-decoration: underline;
}

.team__photo {
    width: 100%;
    box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);
}

.team__post {
    margin-bottom: 10px;
}

.team__name {
    margin: 13px 0 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: var(--title-color);
}

.team__mail {
    background: url(../images/mail_team.svg) left top 2px no-repeat;
    margin-bottom: 10px;
}

.team__phone {
    background: url(../images/phone_team.svg) left top -1px no-repeat;
}

/* Mission */
.mission {
    font-family: 'Lato', sans-serif;
    padding: 60px 30px;
    margin: -25px 0 30px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to right, var(--accent-color) 50%, #FC2C2B 50%);
    background-size: 83.3333% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: var(--white-color);
    position: relative;
}

.mission-maintitle {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.mission__title {
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--accent-color);
}

.mission__subtitle {
    font-weight: 400;
    font-size: 21px;
    text-transform: capitalize;
}

/* News */
.news {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 30px;
}

.news-blog {
    flex-direction: column;
}

.news-blog .news__item {
    max-width: none;
}

.news-blog .news__item:not(:last-child) {
    margin-bottom: 45px;
}

.news__item {
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
}

.news__text {
    margin-bottom: 15px;
}

.news__title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--title-color);
}

.news__title a:hover {
    text-decoration: underline;
}

.news__date {
    font-size: 12px;
    color: #6e6e6e;
}

/* Footer */
.footer {
    margin-top: auto;
    padding: 40px 0;
    background-color: #F9F9F9;
    background-image: url(../images/footer_track_left.png), url(../images/footer_track-right.png);
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__address {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: var(--title-color);
}

.footer__phone:hover,
.footer__email:hover {
    text-decoration: underline;
}

.footer__link {
    font-size: 12px;
    color: var(--accent-color);
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link:not(:last-child) {
    margin-right: 15px;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
    display: none;
    padding: 35px 0;
    overflow: auto;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 2000;
}

.modal.show {
    display: flex;
}

.modal__inner {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    margin: auto;
    background-color: var(--white-color);
    position: relative;
}

.modal__close {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 1;
    transition: transform .1s linear;
}

.modal__close:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

.modal__thanks {
    margin-bottom: 10px;
}

.modal__header {
    margin-bottom: 25px;
    text-align: center;
}

.modal__title {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: var(--accent-color);
}

.modal__footer {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #E8E8E8;
    text-align: center;
}

.modal__footer-title {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: var(--title-color);
}

.modal__contacts {
    font-size: 14px;
    color: inherit;
    font-style: normal;
}

.modal__contacts p {
    margin-bottom: 3px;
}

.modal__contacts a:hover {
    text-decoration: underline;
}

/* Main */
.main {
    display: flex;
}

.main__col {
    width: 50%;
}

/* Text */
.text {
    max-width: 890px;
    font-size: 18px;
    line-height: 1.5;
}

.text h4 {
    margin-bottom: 40px;
    color: var(--title-color);
    font-size: 24px;
}

.text p {
    margin: 40px 0;
}

.text ul {
    margin-bottom: 40px;
}

.text ol {
    margin-bottom: 60px;
}

.text img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Media */
@media (max-width:991px) {

    /* Section */
    .section__title {
        text-align: center;
    }

    .section--map {
        background-position: top 130px center;
    }

    .section--last {
        margin-bottom: 0;
    }

    /* Intro */
    .intro__title {
        font-size: 90px;
        text-align: right;
    }

    .intro__suptitle {
        text-align: right;
    }

    .intro__text {
        text-align: center;
    }

    .intro__title-amp {
        font-size: 120px;
    }

    /* Services */
    .services__item {
        width: 50%;
    }

    /* Clients */
    .clients {
        margin-bottom: 30px;
        flex-direction: column;
    }

    .clients__reviews,
    .clients__logo {
        width: 100%;
    }

    .clients__logo {
        margin-bottom: 50px;
    }

    .clients__list {
        justify-content: center;
    }

    .clients__list li {
        max-width: 130px
    }

    .clients__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    /* Footer */
    .footer {
        background-size: 350px auto;
    }

    /* Main */
    .main {
        flex-direction: column;
    }

    .main__col {
        width: 100%;
    }

    .request-form--right {
        margin: 50px auto 0;
    }
}

@media (max-width:767px) {

    /* Intro */
    .intro {
        margin-bottom: 0;
    }

    .intro__inner {
        padding: 60px 0 25px;
    }

    .intro__title {
        font-size: 70px;
    }

    .intro__title-amp {
        font-size: 100px;
    }

    /* Header */
    .header__inner {
        height: 50px;
    }

    /* Nav */
    .nav {
        display: none;
        padding-top: 9px;
        flex-direction: column;
        height: auto;
        min-height: calc(100vh - 50px);
        background-color: rgba(0, 0, 0, .9);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .nav__link {
        padding: 15px;
        display: block;
        text-align: right;
    }

    /* Burger */
    .burger {
        display: block;
    }

    .burger:hover {
        cursor: pointer;
    }

    .burger__icon {
        width: 100%;
        height: 100%;
        display: block;
    }

    /* Intro */
    .intro__inner {
        height: auto;
        padding: 75px 0 25px;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* Form */
    .request-form {
        position: static;
    }

    /* Benefits */
    .benefits {
        max-width: 600px;
        margin: 0 auto;
        flex-direction: column;
    }

    .benefits_col {
        width: 100%;
    }

    .benefits__list {
        margin-bottom: 30px;
        max-width: none;
    }

    /* Team */
    .team {
        flex-direction: column;
        align-items: center;
    }

    .team__item {
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .team__item:last-child {
        margin-bottom: 0;
    }

    /* Mission */
    .mission-maintitle {
        font-size: 70px;
    }

    .mission {
        margin: -20px 0 30px;
        padding: 40px 20px;
        margin-top: -16px;
    }

    .mission__title {
        font-size: 24px;
    }

    .mission__subtitle {
        font-size: 18px;
    }

    /* News */
    .news {
        flex-wrap: wrap;
        margin: 0 -15px 15px;
    }

    .news__item {
        max-width: none;
        padding: 0 15px 30px;
    }

    /* Footer */
    .footer {
        background-size: 300px auto;
        background-position: left -30px bottom, right -30px bottom;
    }
}

@media (max-width:575px) {
    .intro__title {
        font-size: 60px;
    }

    .intro__title-amp {
        font-size: 90px;
    }

    .intro__text {
        margin-bottom: 30px;
    }

    /* Request */
    .request-form__content {
        padding: 20px;
    }

    /* Services */
    .services__item {
        width: 100%;
    }

    .services__title-main {
        font-size: 60px;
    }

    /* Section */
    .section {
        padding: 30px 0;
    }

    .section--last {
        margin-bottom: 30px;
    }

    .section__title {
        font-size: 35px;
    }

    /* Clients */
    .clients__list {
        margin: 0 -15px;
    }

    .clients__list li {
        width: 33.333%;
        max-width: none;
        margin-right: 0;
        padding: 0 15px;
    }

    .clients__img {
        margin: 0 auto;
    }

    /* Footer */
    .footer {
        background-size: 200px auto;
        background-position: left -50px bottom, right -50px bottom;
    }

    /* Modal */
    .modal__close {
        top: -30px;
        right: 0px;
    }

    /* Request-form */
    .news__item {
        margin-bottom: 0;
    }

    @media (max-width:320px) {

        /* Form */
        .request-form__header {
            padding: 10px 20px;
        }

        .request-form__content {
            padding: 20px;
        }

        .request-form__title {
            font-size: 25px;
        }

        /* Mission */
        .mission-maintitle {
            font-size: 42px;
        }

        .mission {
            margin: -20px 0 30px;
            padding: 30px 20px;
            margin-top: -10px;
        }

        .mission__title {
            font-size: 20px;
        }

        .mission__subtitle {
            font-size: 16px;
        }

        /* Footer */
        .footer {
            background-size: 180px auto;
            background-position: left -50px bottom, right -50px bottom;
        }

        /* Modal */
        .modal {
            padding: 50px 2px;
        }

        .modal__inner {
            padding: 5px;
        }

        .modal__footer {
            margin-top: 5px;
            padding-top: 0;
        }
